#DrugDecider {
  text-decoration: none;
  font-size: calc(3vmin + 20px);
}

.customHeader {
  padding-top: 40pt;
  justify-content: space-between;
  align-items: flex-end;
}

.logoGroup {
  width: 30vw;
  align-items: baseline;
}

.ddLogo {
  height: 40pt;
}

.headerLink {
  padding: calc(1vmin + 2px) calc(2vmin + 5px);
  font-size: calc(2.5vmin + 5px);
}

@media only screen and (max-width: 800px) {

  .logoGroup{
    width: 100%;
    justify-content: center;
    margin-bottom: 2vh;
  }
  .navBar{
    width: 100%;
    justify-content: center;
  }
}
