.question {
  width: 80%;
  margin-bottom: 40px;
}

.question-title {
  text-align: left;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between;
  width: 60%; */
  margin: 40px 10px;
  margin-bottom: 60px;
}
